@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-color: hsl(250, 6%, 84%);
    --accent-color: rgb(19, 60, 105);
}

* {
    font-family: "Roboto Mono", monospace;
}

body {
    background: linear-gradient(to bottom right, #1a1d29, #2f3236, #1a1d29);
}

.paragraph {
    opacity: 0;
    transform: translateY(10px);
    transition:
        opacity 0.35s ease,
        transform 0.35s ease;
    pointer-events: none;
}

.paragraph_wrapper:hover .paragraph {
    opacity: 1;
    transform: translateY(0);
}

.home_icon {
    font-size: 4.5rem;
    transition: all 0.35s ease-in-out;
    color: white;
}

.paragraph_wrapper:hover .home_icon {
    transform: scale(1.05);
}

.auth-input {
    @apply w-full bg-transparent border border-white/40 text-white placeholder-white/40
           px-3 py-2 rounded-md text-sm
           focus:outline-none focus:border-white transition;
}
