.auth_section {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
}

.auth_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_form input {
    padding: 11px 20px;
    width: 450px;
    background-color: #2d2e32;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
}

.login_form button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 11px 0;
    font-weight: 500;
    text-transform: uppercase;
}

.login_title {
    color: var(--primary-color);
    text-align: center;
}

.toggle_text {
    color: var(--primary-color);
    display: flex;
    gap: 10px;
}

.toggle_text span {
    border-bottom: 1px solid var(--primary-color);
    cursor: pointer;
}